/* Global vars */

:root{
    --dark: #22303A;
    --dark2: #263b4b;
    --gray: #F5F5F5;
    --grayDark: #53575A;
    --bluePrimary: #94b7ee;
    --fontRoboto: 'Roboto', sans-serif;
    --heightBanner: 100vh;
    --heightNavbar: 50px;
    --heightNavbarLg: 75px;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    font-family: var(--fontRoboto);
}

body{
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #ffffff;
}


@media(min-width:768px){
    body{
        background-color: var(--gray);
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grayDark);
}

i{
    font-size: 2rem;
}

section{
    padding-top: 3rem;
}

.container{
    width: 90%;
    margin: 0 auto;
}

@media(min-width:768px){
    .container{
        background-color: #ffffff;
        width: 85%;
    }
}

/* Generals color */

.bg-light{
    background-color: var(--gray);
}

.bg-dark{
    background-color: var(--dark);
}

/*  Generals text */

.text-center{
    text-align: center;
}

iframe{
    width: 15px;
    height: 15px;
    border: none;
}

/* Div contact styles */

div.info-contact{
    background-color: var(--gray);
    padding: 1rem 0;
    width: 100%;
    margin: 0 auto;
}

div.info-contact iframe{
    margin-right: 5px;
}

div.container-info-contact{
    width: 90%;
    margin: 0 auto;
}

@media(min-width:768px){
    div.container-info-contact{
        width: 85%;
        padding: 0 1rem;
    }
}



ul.list-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--grayDark);

}

ul.list-contact li{
    flex-basis: 50%;
    font-size: .7rem;
    display: flex;
    align-items: center;
}

@media(min-width:768px){
    ul.list-contact{
        justify-content: flex-start;
    }

    ul.list-contact li{
        flex-basis: 0;
    }

    ul.list-contact li:last-of-type{
        margin-left: 15px;
    }
    
}

/* Header styles */

.site-header{
    width: 100%;
    background-color: #ffffff;
    z-index: 1;  
}

@media(min-width:768px){
    .site-header{
        height: 80px;
    }
}

.navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

@media(min-width:480px){
    .navbar{
        grid-template-columns: 80% 20%;
    }
}

@media(min-width:768px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding: 0 1rem;
    }
}

/* car y looker */

div.car-looker{
    display: flex;
    align-items: center;
}

div.car{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding: .6rem 0;
    background-color: var(--bluePrimary);
}

div.car-logo{
    flex-basis: 30%;
    padding-left: 15px;
}

div.car-price{
    flex-basis: 70%;
    font-size: .9rem;
    text-align: right;
    margin-left: 10px;
    padding-right: 15px;
    color: #ffffff;
    font-weight: bold;    
}

div.looker{
    flex-basis: 70%;
    margin-left: 10px;
    display: flex;
    padding: .4rem 0;
    background-color: var(--gray);
}

div.looker-input{
    border: none;
    flex-basis: 80%;
    background-color: var(--gray);
}

div.looker-input input{
    padding: .5rem 0;
    border: none;
    background-color: var(--gray);
}

div.looker-btn{
    flex-basis: 20%;
    position: relative;
}

div.looker-btn button{
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
}

div.looker-btn img{
    height: 25px;
    width: 25px;
}

@media(min-width:768px){
    div.car{
        order: 2;
        margin-left: 20px;
    }

    div.looker{
        order: 1;
    }
}

.c-logo{
    padding: 1rem 0 1rem 0;
}

.c-logo img{
    height:55px;
    width: 150px;
}

@media(min-width:768px){
    .c-logo{
        order: 1;
        flex-basis: 60%;
    }
    .ctn-car-looker{
        order: 2;
        flex-basis: 40%;

    }


}


.menu-zone{
    margin: 1rem auto;
    padding: 0;
    flex-basis: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--dark);
}

.menu-zone .col-first{
    padding: .5rem;
}

.menu-zone .col-second{
    background-color: var(--dark2);
    padding: .7rem;
    width: 100%;
}

.menu-zone .btn-span{
    position: relative;
    width: 25px;
    height: 25px;
}

.menu-zone div button{
    position: absolute;
    height: 25px;
    z-index: 1;
    width: 25px;
    border: none;
    background: transparent;
}

div.menu-movil{
    width: 25px;
    height: 25px;
}

div.menu-movil:hover{
    cursor: pointer;
}

div.menu-movil span{
    background-color:#ffffff;
    width: 100%;
    margin: auto;
    height: 3px;
    display: block;
    margin-bottom: 5px;
}

@media only screen and (min-width:768px){
    div.menu-zone{
        display: none;
    }
}


.menu-zone p{
    font-size: 1rem;
    margin-left: .3rem;
    color: #ffffff;
}


.main-menu{
    position: absolute;
    top: 0;
    height: 100vh;
    display: none;
    width: 100%;
    background-color: var(--dark);
    color: #e1e1e1;
    padding: 0;
    margin: 0;
    z-index: 1000;
    transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu-lg{
    display: none;
}

.hide{
    left: -100%;
}

.show{
    display: block;
}

.menu-list{
    padding: .7rem 0;
    opacity: .8;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: block;
}

.menu-list a{
    color: #ffffff;
    width: 100%;
    padding: 1rem 0;
    border-bottom: .5px solid #ffffff;
}

.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list div{
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
}

.menu-list div button{
    position: absolute;
    border: none;
    width: 30px;
    height: 30px;
    background: transparent;
}

.menu-list iframe{
    width: 30px;
    height: 30px;
}

@media(min-width:768px){

    .main-menu{
        display: none;
    }

    .parent-main-menu-lg{
        padding: .5rem 0 1rem 0;
    }

    .main-menu-lg{
        display: block;
        background-color: #ffffff;
    }

    .menu-list-lg{
       background-color: #22303A;
       display: grid;
       grid-template-columns: repeat(7,1fr);
    }

    .menu-list-lg a{
        padding: .9rem 0;
        text-align: center;
        font-size: .9rem;
        color: #ffffff;
        transition: all .3s ease-out;
    }

    .menu-list-lg a:hover{
        background-color: var(--gray);
        color: var(--dark);
    }

    .menu-zone{
        display: none;
    }

}



/*  hero banner */ 

.hero{
    position: relative;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img{
    position: absolute;
    background-image: url(../img/hero.jpg);
    background-position: bottom left;
    height: 100%;
    filter: brightness(.5);
    width: 100%;
    z-index: -1;
}

.hero-title{
    width: 100%;
}

.title{
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    z-index: 1;
    position: relative;
    transition: all .2s ease-in;
    z-index: -1;
}


.btn-main{
    border: 1px solid white;
    display: block;
    width: 65%;
    padding: 1rem;
    margin: 3rem auto;
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all .2s linear;
}

.btn-main:hover{
    background-color: rgba(83,87,90,0.3);
}

.translate-left{
    transform:translateX(-100%);
}

.translate-right{
    transform:translateX(300%);
}


@media(min-width:768px){
   .hero{
       min-height: 70vh;
       width: 85%;
       margin: 0 auto;
   }

   .hero-title{
       width: 75%;
   }

   .title{
       font-size: 3.6rem;
       width: 100%;
   }

   .title span{
       right: 215px;
   }

   .btn-main{
       width: 30%;
   }
}


/* anima el titulo*/



/*  Services ----- */

.title-services{
    color: var(--dark);
    font-size: 2.4rem;
}

.section{
    height: 900px;
}

